In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [73]:
import pandas as pd

In [74]:
fruits=['apples','oranges', 'cherries', 'pears']

In [75]:
quantities=[20,32,44,56]

In [76]:
S=pd.Series(fruits,quantities)

In [77]:
S

20      apples
32     oranges
44    cherries
56       pears
dtype: object

In [78]:
##Dataframe

In [79]:
frutas_costa=["platano", "coco", "piña"]

In [80]:
frutas_sierra=["mandarina", "guaba", "chirimoya"]

In [81]:
index=["a","b","c"]

In [82]:
todas_las_frutas={"costa":frutas_costa,"sierra":frutas_sierra}

In [83]:
todas_las_frutas

{'costa': ['platano', 'coco', 'piña'],
 'sierra': ['mandarina', 'guaba', 'chirimoya']}

In [84]:
frutas_indexadas=pd.DataFrame(todas_las_frutas)

In [85]:
frutas_indexadas

     costa     sierra
0  platano  mandarina
1     coco      guaba
2     piña  chirimoya

In [86]:
frutas_etiquetadas=pd.DataFrame(todas_las_frutas,index=index)

In [87]:
frutas_etiquetadas

     costa     sierra
a  platano  mandarina
b     coco      guaba
c     piña  chirimoya

In [88]:
frutas_indexadas.to_csv('frutas.csv')

In [89]:
frutas_indexadas.to_json('frutas.json')

In [90]:
df=pd.read_csv('frutas.csv', index_col=0)

In [91]:
df

     costa     sierra
0  platano  mandarina
1     coco      guaba
2     piña  chirimoya

In [92]:
df2=pd.read_json('frutas.json')

In [93]:
df2

     costa     sierra
0  platano  mandarina
1     coco      guaba
2     piña  chirimoya

In [95]:
df3=pd.read_json('carros.json')

In [96]:
df3

                   auto1    auto2
marca             Nissan   Toyota
modelo          frontier  4runner
anio                2020     2020
cilindraje          4000     4000
tipo_de_frenos     disco    disco

In [97]:
pip install pysqlite3

Collecting pysqlite3Note: you may need to restart the kernel to use updated packages.

  Downloading pysqlite3-0.5.0.tar.gz (40 kB)
     -------------------------------------- 40.1/40.1 kB 635.5 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py): started
  Building wheel for pysqlite3 (setup.py): finished with status 'error'
  Running setup.py clean for pysqlite3
Failed to build pysqlite3
Installing collected packages: pysqlite3
  Running setup.py install for pysqlite3: started
  Running setup.py install for pysqlite3: finished with status 'error'

  error: subprocess-exited-with-error

  python setup.py bdist_wheel did not run successfully.
  exit code: 1

  [18 lines of output]
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-310
  creating build\lib.win-amd64-cpython-310\pysqlite3
  copying pysqlite3\dbapi2.py -> build\lib.win-amd64-cpython-310\pysqlite3
  copying pysqlite3\__init__.py -> build\lib.win-amd64-cpython-310\pysqlite3
  running build_ext
  Builds a C extension linking against libsqlite3 library
  building 'pysqlite3._sqlite3' extension
  creating build\temp.win-amd64-cpython-310
  creating build\temp.win-amd64-cpython-310\Release
  creating build\temp.win-amd64-cpython-310\Release\src
  "C:\Program Files\Microsoft Visual Studio\2022\Professional\VC\Tools\MSVC\14.35.32215\bin\HostX86\x64\cl.exe" /c /nologo /O2 /W3 /GL /DNDEBUG /MD -DMODULE_NAME=\"pysqlite3.dbapi2\" -I/usr/include -IC:\Users\User\anaconda3\include -IC:\Users\User\anaconda3\Include "-IC:\Program Files\Microsoft Visual Studio\2022\Professional\VC\Tools\MSVC\14.35.32215\include" "-IC:\Program Files\Microsoft Visual Studio\2022\Professional\VC\Tools\MSVC\14.35.32215\ATLMFC\include" "-IC:\Program Files\Microsoft Visual Studio\2022\Professional\VC\Auxiliary\VS\include" "-IC:\Program Files (x86)\Windows Kits\10\include\10.0.22000.0\ucrt" "-IC:\Program Files (x86)\Windows Kits\10\\include\10.0.22000.0\\um" "-IC:\Program Files (x86)\Windows Kits\10\\include\10.0.22000.0\\shared" "-IC:\Program Files (x86)\Windows Kits\10\\include\10.0.22000.0\\winrt" "-IC:\Program Files (x86)\Windows Kits\10\\include\10.0.22000.0\\cppwinrt" /Tcsrc\blob.c /Fobuild\temp.win-amd64-cpython-310\Release\src\blob.obj
  blob.c
  C:\Users\User\AppData\Local\Temp\pip-install-o6u18ln7\pysqlite3_818a42625eb643c58fad4639956cbc99\src\blob.h(4): fatal error C1083: No se puede abrir el archivo incluir: 'sqlite3.h': No such file or directory
  error: command 'C:\\Program Files\\Microsoft Visual Studio\\2022\\Professional\\VC\\Tools\\MSVC\\14.35.32215\\bin\\HostX86\\x64\\cl.exe' failed with exit code 2
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for pysqlite3
  error: subprocess-exited-with-error

  Running setup.py install for pysqlite3 did not run successfully.
  exit code: 1

  [20 lines of output]
  running install
  C:\Users\User\anaconda3\lib\site-packages\setuptools\command\install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
    warnings.warn(
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-310
  creating build\lib.win-amd64-cpython-310\pysqlite3
  copying pysqlite3\dbapi2.py -> build\lib.win-amd64-cpython-310\pysqlite3
  copying pysqlite3\__init__.py -> build\lib.win-amd64-cpython-310\pysqlite3
  running build_ext
  Builds a C extension linking against libsqlite3 library
  building 'pysqlite3._sqlite3' extension
  creating build\temp.win-amd64-cpython-310
  creating build\temp.win-amd64-cpython-310\Release
  creating build\temp.win-amd64-cpython-310\Release\src
  "C:\Program Files\Microsoft Visual Studio\2022\Professional\VC\Tools\MSVC\14.35.32215\bin\HostX86\x64\cl.exe" /c /nologo /O2 /W3 /GL /DNDEBUG /MD -DMODULE_NAME=\"pysqlite3.dbapi2\" -I/usr/include -IC:\Users\User\anaconda3\include -IC:\Users\User\anaconda3\Include "-IC:\Program Files\Microsoft Visual Studio\2022\Professional\VC\Tools\MSVC\14.35.32215\include" "-IC:\Program Files\Microsoft Visual Studio\2022\Professional\VC\Tools\MSVC\14.35.32215\ATLMFC\include" "-IC:\Program Files\Microsoft Visual Studio\2022\Professional\VC\Auxiliary\VS\include" "-IC:\Program Files (x86)\Windows Kits\10\include\10.0.22000.0\ucrt" "-IC:\Program Files (x86)\Windows Kits\10\\include\10.0.22000.0\\um" "-IC:\Program Files (x86)\Windows Kits\10\\include\10.0.22000.0\\shared" "-IC:\Program Files (x86)\Windows Kits\10\\include\10.0.22000.0\\winrt" "-IC:\Program Files (x86)\Windows Kits\10\\include\10.0.22000.0\\cppwinrt" /Tcsrc\blob.c /Fobuild\temp.win-amd64-cpython-310\Release\src\blob.obj
  blob.c
  C:\Users\User\AppData\Local\Temp\pip-install-o6u18ln7\pysqlite3_818a42625eb643c58fad4639956cbc99\src\blob.h(4): fatal error C1083: No se puede abrir el archivo incluir: 'sqlite3.h': No such file or directory
  error: command 'C:\\Program Files\\Microsoft Visual Studio\\2022\\Professional\\VC\\Tools\\MSVC\\14.35.32215\\bin\\HostX86\\x64\\cl.exe' failed with exit code 2
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: legacy-install-failure

Encountered error while trying to install package.

pysqlite3

note: This is an issue with the package mentioned above, not pip.
hint: See above for output from the failure.